<div class="product-card">
  <span class="product-stock {{product().stock? 'success': 'fail'}}">
    @if (product().stock) {
    {{product().stock}} Left
    } @else {
    Out of Stock
    }
  </span>
  <div (click)="viewProduct()" class="product-image">
    <img [src]="product().image" alt="{{ product().title }}" />
  </div>
  <div class="product-info">
    <span class="product-title">
      {{product().title}}
    </span>
    <span class="product-price">
      {{'$' + product().price}}
    </span>
    <app-primary-button label="Add to Cart" (btnClicked)="cartService.addToCart(product())"
      [disabled]="(product().stock??0)===0" />
  </div>
</div>
